span.circle {
  width: 8px;
  height: 8px;

  border-radius: 50%;

  background-color: var(--color-pink);
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 43px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 21px;
}

p {
  font-size: 18px;
}

nav {
  position: relative;
  padding: 8px 0;
  display: flex;
  flex-direction: row;

  background-color: var(--color-white);
  box-shadow: rgb(26, 18, 28, .5) 0 4px 16px;

  z-index: 5;
}

nav .menu,
header .menu-modal {
  display: none;
}

nav .row {
  justify-content: flex-start;
  align-items: center;
}

nav .row:first-child {
  justify-content: flex-end;
}

nav .row h6 {
  margin: 0 64px;

  color: var(--color-purple);
}

nav .img {
  max-width: 52px;
  min-width: 52px;
  height: 52px;
  
  margin: 0 100px;
}

.container.header {
  background: linear-gradient(0deg, rgba(194,208,226,1) 0%, rgba(232,232,232,1) 50%);
  
  z-index: 0;
}

.container.header > .img {
  max-width: 308px;
  
  position: absolute;
  left: 0;
  margin-top: 68px;
}

.container.header > .img img {
  filter: blur(8px);
}

.container.header .column.main {
  max-width: 976px;
  
  margin: 0 auto;
  padding: 64px 0;
  justify-content: center;
  align-items: center;
}

.container.header .column.main .column.headline {
  max-width: fit-content;
}

.container.header .column.main .column.headline h1 {
  color: var(--color-purple);
  
  text-align: center;
}

.container.header .column.main .column.headline p:last-child {
  text-align: right;
}

.container.header .column.main .grid {
  width: fit-content;

  margin: 64px auto 32px;

  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;

  justify-content: center;
}

.container.header .column.main .grid .row {
  width: fit-content;

  justify-content: center;
  align-items: center;
}

.container.header .column.main .grid .row:nth-child(2) {
  margin: 0 32px;
}

.container.header .column.main .grid i {
  margin-right: 8px;

  font-size: 24px;
}

header .column.cta {
  height: 302px;

  margin-top: -200px;
  justify-content: center;
  align-items: center;
}

header .column.cta .img {
  width: 100%;
  
  position: absolute;
  margin: 0;
  top: 0;
}

header .column.cta h6 {
  margin-top: 64px;
  text-align: center;
}

header .column.cta h6,
header .column.cta span.regular {
  color: var(--color-white);
}

header .column.cta > p {
  margin: 8px auto 32px;

  color: var(--color-purple);
}

header .column.cta .column.btn {
  margin-bottom: 32px;
  align-items: center;
}

header .column.cta .column.btn p {
  margin-bottom: 8px;

  color: var(--color-white);
}

header .column.cta .column.btn span {
  color: var(--color-purple);
}

/* SECTION 02 - BOOK */
.container.book {
  padding: 132px 0 0;
}

.container.book .img:first-child {
  max-width: 408px;
  min-width: 408px;
}

.container.book .img:last-child {
  max-width: 301px;
  min-width: 301px;
}

.container.book .column.main {
  margin: auto 24px;
}

.container.book .column.main h6 {
  margin: 64px 0 32px;
}

.container.book .column.main h6,
.container.book .column.main > p {
  width: 608px;
}

.container.book .column.main h6,
.container.book .column.main span {
  color: var(--color-purple);
}

/* SECTION 03 - S.O.S */
.container.sos {
  padding: 132px 0 0;
}

.container.sos .column.main,
.container.sos .column.main .column.cta {
  align-items: center;
}

.container.sos .column.main .column.cta .img {
  width: 176px;
  height: 48px;

  margin-top: 8px;
}

.container.sos .column.main h2 {
  padding: 8px 44px;
  
  border-radius: 100px;
  box-shadow: 0px 0px 32px 0px #440051;
  background: linear-gradient(135deg, #440051 0%, #DE0351 100%);
  color: var(--color-white);
  
  text-align: center;
}

.container.sos .column.main .row.main {
  margin-top: 64px;  
  justify-content: space-around;
}

.container.sos .column.main .row.main .column.left {
  width: 576px;
}

.container.sos .column.main .column.cta {
  margin-top: 100px;
}

.container.sos .column.main .column.cta span {
  color: var(--color-blue);
  
  font-size: 21px;
}

.container.sos .column.main .row.caroussel,
.container.sos .column.main .row.slider {
  width: fit-content;

  align-items: center;
  gap: 24px;
}

.container.sos .column.main .row.caroussel i {
  color: var(--color-blue);
  
  font-size: 22px;
  
  cursor: pointer;
  z-index: 5;
}

.container.sos .column.main .row.caroussel i:hover {
  color: var(--color-purple);
}

.container.sos .column.main .row.slider .item {
  width: fit-content;
  height: fit-content;
  
  padding: 0 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  border-radius: 8px;
  background: var(--color-blue);
}

.container.sos .column.main .row.slider .item:not(.active) {
  position: absolute;
  right: -180px;

  transform: scale(.4);
  filter: blur(4px);
}

.container.sos .column.main .row.slider .item .img {
  width: 176px;
  height: 154px;
}

.container.sos .column.main .row.slider .item .img img {
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(26, 18, 28, 0.15);
}

.container.sos .column.main .row.slider .item p {
  color: var(--color-white);
}

/* SECTION 04 - OBJECTIONS */
.container.objections {
  padding: 132px 0 0;
}

.container.objections .column.main {
  padding-bottom: 32px;

  background: linear-gradient(180deg, rgba(194, 208, 226, 0.00) 0%, #C2D0E2 100%);
}

.container.objections .column.main .row.upper {
  margin-top: 64px;

  justify-content: center;
  align-items: flex-start;
}

.container.objections .column.main .row.upper > .column {
  width: 276px;
  
  margin-top: 0;
  
  justify-content: center;
  align-items: center;
}

.container.objections .column.main .row.upper > .column:nth-child(2) {
  margin-top: 32px;
}

.container.objections .column.main .row.upper > .column .img {
  width: 176px;
  height: 176px;
  
  padding: 8px 0;
  
  border-radius: 8px;
  border: 2px solid #F00;
  box-shadow: 0px 4px 16px 0px rgba(26, 18, 28, 0.50), 0px 0px 8px 2px #1A121C inset;
  background: #E8E8E8;
}

.container.objections .column.main .row.upper > .column .img:last-of-type {
  padding: 8px 0 0;
}

.container.objections .column.main .row.upper > .column .img::after {
  width: 240px;
  height: 2px;

  position: absolute;
  margin: 77px 0 0;
  left: 19px;
  right: 0;
  
  background-color: #FF0000;

  transform: rotate(45deg);
  content: "";
}

.container.objections .column.main .row.upper > .column p {
  margin-top: 16px;
  
  color: var(--color-purple);
  
  text-align: center;
  text-transform: none;
}

.container.objections .column.main .row.mid {
  margin-top: 64px;
  justify-content: center;
  align-items: center;
}

.container.objections .column.main .row.mid h5,
.container.objections .column.main .row.mid h6 {
  width: 286px;
}

.container.objections .column.main .row.mid h5 {
  color: var(--color-purple);

  text-align: right;
}

.container.objections .column.main .row.mid h6 {
  padding: 8px 16px;

  border-radius: 8px;
  box-shadow: 0px 0px 16px 0px #1A121C inset;
  background: var(--color-purple);
  color: var(--color-white);

  text-transform: uppercase;
}

.container.objections .column.main .row.mid .img {
  width: 175px;
  
  margin: 0 24px;
}

.container.objections .column.obs {
  padding: 16px 80px;
  justify-content: center;
  align-items: center;

  background-color: #F4C300;;
}

.container.objections .column.obs h5 {
  margin-bottom: 4px;

  text-transform: uppercase;
}

.container.objections .column.obs h5 span {
  text-decoration: line-through;
}

.container.objections .row.down {
  padding: 84px 0 0;
  justify-content: center;
  align-items: flex-start;
}

.container.objections .row.down > .bg {
  width: 100%;
  
  position: absolute;
  top: 0;
}

.container.objections .row.down > .img {
  max-width: 228px;
  min-width: 228px;
}

.container.objections .row.down .column {
  width: 482px;

  padding: 16px 0 0;
}

.container.objections .row.down .column:last-of-type .row {
  flex-direction: row-reverse;

  background: linear-gradient(90deg, #E8E8E8 0%, #C2D0E2 100%);
}

.container.objections .row.down .column:last-of-type .row .img {
  margin: 0 8px 0 0;
}

.container.objections .row.down .column .row .img {
  width: 54px !important;
  height: 54px !important;

  margin: 0 0 0 8px;
}

.container.objections .row.down .column .row .img img {
  border-radius: 50%;
}

.container.objections .row.down .column .row:first-of-type {
  margin-bottom: 32px;
}

.container.objections .row.down .column .row {
  justify-content: flex-end;
  align-items: center;

  border-radius: 100px;
  background: linear-gradient(270deg, #E8E8E8 0%, #C2D0E2 100%);
}

.container.objections .row.down .column .row p {
  color: var(--color-blue);

  text-transform: uppercase;
  text-align: right;
}

/* SECTION 05 - WHY */
.container.why {
  padding: 132px 0 0;
}

.container.why .column.main,
.container.why .column.main .column.topics {
  justify-content: center;
  align-items: center;
}

.container.why .column.main .column.topics {
  margin-top: 64px;
}

.container.why .column.main .column.topics .img {
  max-width: 576px;
  min-width: 576px;

  z-index: 5;
}

.container.why .column.main .column.topics .row {
  justify-content: space-evenly;
  align-items: flex-start;
}

.container.why .column.main .column.topics .row .item {
  display: flex;
  flex-direction: column;

  z-index: 1;
}

.container.why .column.main .column.topics .row.upper .item {
  width: 376px;
}

.container.why .column.main .column.topics .row.upper .item:first-child .img {
  transform: rotate(-150deg) scaleX(-1);
}

.container.why .column.main .column.topics .row.upper .item:last-child .img {
  transform: rotate(150deg) ;
}

.container.why .column.main .column.topics .row.mid {
  margin: -52px auto;
  justify-content: center;
  align-items: center;
}

.container.why .column.main .column.topics .row.mid .item {
  width: 276px;
  
  flex-direction: column-reverse;
}

.container.why .column.main .column.topics .row.mid .item .img {
  margin: 4px;
}

.container.why .column.main .column.topics .row.mid .item:last-child .img {
  transform: scaleX(-1)
}

.container.why .column.main .column.topics .row.down .item {
  width: 376px;

  flex-direction: column-reverse;
}

.container.why .column.main .column.topics .row.down .item:first-child .img {
  transform: rotate(-30deg);
}

.container.why .column.main .column.topics .row.down .item:last-child .img {
  transform: rotate(30deg) scaleX(-1);
}

.container.why .column.main .column.topics .row .item:first-child {
  align-items: flex-end;
}

.container.why .column.main .column.topics .row .item p {
  text-transform: none;
}

.container.why .column.main .column.topics .row .item p span {
  color: var(--color-purple);
}

.container.why .column.main .column.topics .row .item:last-child p {
  text-align: right;
}

.container.why .column.main .column.topics .row .item .img {
  max-width: 116px;
  min-width: 116px;

  margin: 24px;
}

/* SECTION 06 - BONUS */

.container.bonus {
  padding: 132px 0 0;
}

.container.bonus .column.main .column.title h3 {
  margin: 8px auto;
  padding: 8px 44px;
  
  border-radius: 100px;
  box-shadow: 0px 0px 32px 0px #440051;
  color: var(--color-white);
  background: linear-gradient(135deg, #DE0351 16.12%, rgba(26, 18, 28, 0.90) 100%);
  
  z-index: -1;
}

.container.bonus .column.main .column.title p:last-child {
  width: 376px;
  
  text-align: center;
}

.container.bonus .column.main .row.main {
  margin-top: 64px;
  justify-content: center;
  align-items: center;
}

.container.bonus .column.main .magnets {
  max-width: 176px;
  min-width: 176px;
}

.container.bonus .column.main .row.main .column .row {
  justify-content: flex-end;
}

.container.bonus .column.main .row.main .column .row:first-child {
  margin-bottom: 16px;
}

.container.bonus .column.main .row.main .column:last-child .row {
  flex-direction: row-reverse;
}

.container.bonus .column.main .row.main .column .row .img {
  max-width: 60px;
  min-width: 60px;

  margin: 0 0 0 8px;
}

.container.bonus .column.main .row.main .column:last-child .row .img {
  margin: 0 8px 0 0;
  transform: scaleX(-1);
}

.container.bonus .column.main .column.cta {
  margin-top: 64px;
  justify-content: center;
  align-items: center;
}

.container.bonus .column.main .column.cta p {
  width: 476px;

  margin-bottom: 16px;
  
  text-align: center;
}

.container.bonus .column.main .column.cta p span {
  color: var(--color-purple);
}

/* SECTION 07 - MAGNETS */
.container.magnets {
  padding: 132px 0 0;
}

.container.magnets > .img {
  width: 100%;
  height: 516px;
  
  position: absolute;
}

.container.magnets > .img img {
  object-fit: cover;
}

.container.magnets .column.main h5,
.container.magnets .column.main h6 {
  color: var(--color-white);
}

.container.magnets .column.main {
  width: 732px;

  margin: 0 auto 0 calc(100% - 732px - 64px);
  padding: 80px 0;
  justify-content: center;
  align-items: center;
}

.container.magnets .column.main .grid {
  margin: 32px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.container.magnets .column.main .grid .row {
  max-width: fit-content;
  padding: 0 16px 0 0;
  align-items: center;
  
  border-radius: 4px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 8px 0px rgba(26, 18, 28, 0.50);
}

.container.magnets .column.main .grid .row .img {
  max-width: 64px;
  min-width: 64px;
  height: 64px;
  
  margin-right: 16px;

  border-radius: 4px 0 0 4px;
}

.container.magnets .column.main .grid .row h6 {
  color: var(--color-purple);
}

/* SECTION 08 - OFFER */
.container.offer {
  padding: 132px 0 0;
}

.container.offer .column.main {
  justify-content: center;
  align-items: center;
}

.container.offer .column.main h3 {
  padding: 8px 44px;
  
  border-radius: 100px;
  box-shadow: 0px 0px 32px 0px var(--color-black);
  background: linear-gradient(135deg, var(--color-black) 0%, var(--color-purple) 100%);
  color: var(--color-white);
}

.container.offer .column.main > p {
  width: 576px;
  
  margin-top: 32px;

  text-align: center;
}

.container.offer .column.main .column.price {
  width: fit-content;
  
  margin-top: 116px;
  padding: 32px 52px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  
  border-radius: 8px;
  border: 2px solid var(--color-blue);
  box-shadow: 0px 0px 32px 0px rgba(62, 132, 245, 0.50);
  background: var(--color-white);
}

.container.offer .column.main .column.price .img {
  width: 147px;

  position: absolute;
  top: -80px;
  left: -44px;
}

.container.offer .column.main .column.price .row {
  max-width: fit-content;

  gap: 32px;
}

.container.offer .column.main .column.price .row .column {
  width: 116px;

  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  
  border-radius: 8px;
  border: 2px solid var(--color-blue);
  box-shadow: 0px 4px 8px 0px rgba(62, 132, 245, 0.40);
  background: var(--color-white);
}

.container.offer .column.main .column.price .row .column h4,
.container.offer .column.main .column.price .row .column p {
  color: var(--color-purple);
  
  text-align: center;
}

.container.offer .column.main .column.price .column.discount {
  width: fit-content;
  
  align-items: center;
}

.container.offer .column.main .column.price .column.discount h2 {
  color: var(--color-blue);
}

.container.offer .column.main .column.price .column.discount p:first-child {
  width: 100%;
  
  margin-bottom: -4px;
  text-align: left;
}

.container.offer .column.main .column.price .column.discount p:first-child span {
  text-decoration: line-through;
}

.container.offer .column.main .column.price .column.discount p:last-child {
  width: 100%;
  
  margin-top: -4px;
  text-align: right;
}

.container.offer .column.main .column.price .column.discount p:last-child span {
  text-decoration: underline;
}

.container.offer .column.main .column.price .column.cta {
  align-items: center;
}

.container.offer .column.main .column.price .column.cta small {
  width: 80%;

  margin-top: 8px;
  
  text-align: center;
}

/* SECTION 09 - VIDEO */
.container.video {
  padding: 132px 0 0;

  background: linear-gradient(180deg, rgba(194, 208, 226, 0.00) 0%, #C2D0E2 100%);
}

.container.video .column.main {
  width: 86%;

  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.container.video .column.main .row.main {
  margin: 32px auto 0;
  padding: 64px 0;

  justify-content: space-between;
  align-items: flex-start;
}

.container.video .column.main .row.main .column.left > h6 {
  color: var(--color-purple);
}

.container.video .column.main .row.main .column.left {
  width: 376px;

  align-items: flex-start;
  gap: 16px;

  z-index: 5;
}

.container.video .column.main .row.main .column.left .row {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.container.video .column.main .row.main .column.left .row .img {
  width: 276px;
}

.container.video .column.main .row.main .column.left .row .img img {
  border-radius: 8px;
  border: 2px solid var(--color-pink);
  box-shadow: 0px 4px 8px 0px rgba(26, 18, 28, 0.25);

  object-fit: cover;
}

.container.video .column.main .row.main .column.left .row:last-child .img img {
  border: 2px solid var(--color-blue);
}

.container.video .column.main .row.main .column.left .row h6 {
  color: var(--color-pink);
  
  text-transform: uppercase;
}

.container.video .column.main .row.main .column.left .row:last-child h6 {
  color: var(--color-blue);
}

.container.video .column.main .row.main .column.right {
  width: fit-content;

  gap: 16px;
}

.container.video .column.main .row.main .column.right h6 {
  color: var(--color-purple);
  
  text-align: center;
}

.container.video .column.main .row.main .column.right iframe {
  width: 576px;
  height: 332px;

  border-radius: 8px;
}

/* SECTION 10 - FAQ */
.container.faq {
  padding: 132px 0 0;
}

.container.faq .column.main { 
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.container.faq .column.main .column.title {
  margin-bottom: 64px;
}

.container.faq .column.main .column.qa {
  max-width: 400px;
  width: calc(100% - 16px);

  margin-top: 16px;
  
  border-radius: 4px;
  background: var(--color-purple);
  box-shadow: 0px 4px 8px 0px rgba(26, 18, 28, 0.25);
}

.container.faq .column.main .column.qa:hover {
  cursor: pointer;
}

.container.faq .column.main .column.qa p.light {
  display: none;
}

.container.faq .column.main .column.qa .row {
  padding: 8px 16px;
  
  align-items: center;
  gap: 8px;
}

.container.faq .column.main .column.qa.active {
  max-width: 400px;
  width: calc(100% - 16px);

  background-color: var(--color-white);

  transition: ease-in .3s;
}

.container.faq .column.main .column.qa.active .row h4,
.container.faq .column.main .column.qa.active .row > p { 
  color: var(--color-purple);
}

.container.faq .column.main .column.qa.active p.light {
  padding: 32px 16px 8px;
  display: block;
  
  color: var(--color-purple);
}

.container.faq .column.main .column.qa.active p.light::before {
  width: 90%;
  height: 1px;

  position: absolute;
  top: 0;

  border-radius: 2px;
  background: radial-gradient(var(--color-purple), var(--color-white));

  content: "";
}

.container.faq .column.main .column.qa .row > p {
  text-transform: uppercase;
}

.container.faq .column.main .column.qa .row h4,
.container.faq .column.main .column.qa .row > p {
  color: var(--color-white);

  text-align: left;
}

/* SECTION 11 - WHO */
.container.who {
  padding: 132px 0 0;
}

.container.who .row.main {
  justify-content: flex-start;
  
  background-color: var(--color-white--v2);
}

.container.who .row.main .img {
  width: 408px;

  margin: 0 0 -4px 0;
}

.container.who .row.main .column.text {
  max-width: 576px;
  width: calc(100% - 576px);
  height: 729px;
  
  margin: 0 0 0 calc((408px - (576px / 2)) / 2);
  justify-content: center;
  align-items: center;
}

.container.who .row.main .column.text p.regular {
  margin-top: 64px;

  text-align: center;
}

/* SECTION 12 - FEEDBACK */
.container.feedback {
  padding: 164px 0 0;
}

.container.feedback .row.main {
  width: 100%;
  height: 529px;

  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.container.feedback .row.main .column.left {
  width: 676px;
  
  gap: 32px;
}

.container.feedback .row.main .column.left h3 {
  color: var(--color-purple);
}

.container.feedback .row.main .column.left a {
  width: fit-content;
}

.container.feedback .row.main .row.right {
  width: fit-content;
}

.container.feedback .row.main .row.right .column.main {
  width: fit-content;

  align-items: center;
  gap: 16px;

  border-left: 2px solid var(--color-pink);
}

.container.feedback .row.main .row.right .column i {
  color: var(--color-pink);
  
  font-size: 24px;

  cursor: pointer;
}

.container.feedback .row.main .row.right .column .column.feedbacks {
  width: fit-content;

  margin-left: 32px;
  align-items: center;
  gap: 16px;
}

.container.feedback .row.main .row.right .column .column.feedbacks .item {
  width: fit-content;
  
  position: relative;
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  
  border-radius: 8px;
  border: 1px solid var(--color-pink);
  background: linear-gradient(135deg, var(--color-white) 0%, var(--color-white--v2) 100%);
}

.container.feedback .row.main .row.right .column .column.feedbacks .item:not(.active) {
  display: none;
}

.container.feedback .row.main .row.right .column .column.feedbacks .item::after {
  position: absolute;
  top: calc(100% / 2);
  left: -20px;

  border-top: 16px solid transparent;
  border-top-color: inherit;
  border-left: 16px solid transparent;
  border-right: 8px solid transparent;

  transform: rotate(90deg);
  content: "";
}

.container.feedback .row.main .row.right .column .column.feedbacks .item p {
  width: 280px;
  
  color: var(--color-purple);
}

.container.feedback .row.main .row.right .column .column.feedbacks .item .img {
  width: 52px;
  height: 52px;

  position: absolute;
  right: -32px;
  top: -4px;
}

.container.feedback .row.main .row.right .column .column.feedbacks .item .img img {
  border-radius: 52px;
  border: 2px solid var(--color-pink);
  box-shadow: 0px 0px 8px 0px rgba(222, 3, 81, 0.65);
}

/* SECTION 12 - WARNING */
.container.warning {
  padding: 164px 0 0;
}

.container.warning .column {
  width: 576px;
  
  margin: 0 auto;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  
  border-radius: 8px;
  border: 2px solid var(--color-purple);
  box-shadow: 0px 0px 8px 0px var(--color-black) inset;
  background: var(--color-white);
  
  text-align: center;
}

.container.warning .column::after {
  width: 100vw;
  height: 4px;

  position: absolute;
  margin: 0 auto;
  left: auto;
  right: auto;

  background-color: var(--color-purple);

  content: "";

  z-index: -1;
}

.container.warning .column p {
  color: var(--color-purple);
}

.container.warning .column h6 {
  color: var(--color-pink);
}

/* SECTION 13 - CONTACTS */
.container.contact {
  padding: 164px 0 0;
}

.container.contact .row.main {
  padding: 80px 0;

  background: linear-gradient(180deg, #E8E8E8 0%, #3E84F5 100%);
}

.container.contact .row.main .img {
  max-width: 226px;
  min-width: 226px;

  position: absolute;
  bottom: -6px;
  left: calc(50% - 500px);
}

.container.contact .row.main .column.main {
  align-items: center;
}

.container.contact .row.main .column.main h3 {
  margin: 8px auto;
  padding: 8px 44px;
  
  border-radius: 100px;
  box-shadow: 0px 0px 32px 0px #440051;
  background: linear-gradient(135deg, #DE0351 16.12%, rgba(26, 18, 28, 0.90) 100%);
  color: var(--color-white);
  
  text-transform: uppercase;
}

.container.contact .row.main .column.main .row.cards {
  margin: 64px 0 16px;
  justify-content: center;
  gap: 24px;
}

.container.contact .row.main .column.main .row.cards .column {
  width: 176px;
  
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(26, 18, 28, 0.25);
  background: var(--color-white);
}

.container.contact .row.main .column.main .row.cards .column i {
  width: 52px;
  height: 52px;

  margin: auto;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--color-purple);
  color: var(--color-white);

  font-size: 22px;
}

.container.contact .row.main .column.main .row.cards .column p:last-child {
  width: 100%;

  padding: 4px 8px;

  border-radius: 8px;
  background: linear-gradient(135deg, var(--color-purple) 0%, var(--color-pink) 100%);
  color: var(--color-white);

  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/* FOOTER */
footer .container {
  padding: 80px 0;
  
  background-color: var(--color-black);
}

footer .container .row.upper,
footer .container .row.down {
  width: 80%;

  margin: 0 auto;
}

footer .container .row.upper {
  margin: 0 auto 64px;
  justify-content: space-between;
  align-items: flex-start;
}

footer .container .row.upper .column,
footer .container .row.upper .row {
  width: 376px;
  
  gap: 8px;
}

footer .container .row.upper .img {
  max-width: 52px;
  min-width: 52px;
  height: 52px;
}

footer .container .row.upper .row {
  justify-content: flex-end;
  align-items: center;
}

footer .container .row.upper .row i {
  color: var(--color-white);
}

footer .container .row.down {
  justify-content: space-between;
}

footer .container .row.down .column.left {
  width: 576px;
}

footer .container .row.down .column.right {
  width: 676px;
}

footer .container .row.down .column.left,
footer .container .row.down .column.right {
  gap: 16px;
}

footer .container .row.down .column.right .img {
  max-width: 366px;
  min-width: 366px;
}

footer .container p,
footer .container span {
  color: var(--color-white);

  font-size: 12px;
}